{
  "semi": false,
  "singleQuote": true,
  "printWidth": 100,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "quoteProps": "consistent",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["data-subs-header", "wrapperClassName", "tipClassName"]
}
